@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-mobile-active {
  height: 100%;
  width: 100vw;
  padding: 64px 16px 64px 16px;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  transition: transform 0.5s ease;
  transform: translateY(-100%); /* Przesunięcie poza ekran */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.nav-mobile-active .nav-logo {
  height: 50%;
  width: 100%;
  padding: 10%;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
  transition: transform 0.3s;
}
.nav-mobile-active .nav-logo:hover {
  transform: scale(110%);
}
.nav-mobile-active .nav-mobile-active-options {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  align-items: center;
}
.nav-mobile-active .nav-mobile-active-options a {
  font-size: 48px;
  color: #fffef5;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 2%;
  list-style-type: none;
  margin: 0 30px 0 30px;
  transition: color 0.3s, transform 0.3s;
}
.nav-mobile-active .nav-mobile-active-options a:hover {
  color: #fbf270;
  transform: scale(110%);
}

.active {
  transform: translateY(0); /* Przesunięcie na ekran */
}

.unactive .nav-mobile-active-options a {
  color: rgba(254, 251, 207, 0);
}

.nav-desktop {
  display: none;
}

@media screen and (min-width: 769px) {
  .nav-mobile {
    display: none;
  }
  .nav-desktop {
    width: calc(100vw - 128px);
    height: 60px;
    padding: 15px 45px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #191702;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  .nav-desktop .nav-logo {
    width: 60px;
    height: 32px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
    transition: transform 0.3s;
  }
  .nav-desktop .nav-logo:hover {
    transform: scale(110%);
  }
  .nav-desktop .nav-desktop-active {
    display: flex;
    flex-direction: row;
  }
  .nav-desktop .nav-desktop-active a {
    font-size: 24px;
    color: #fffef5;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2%;
    list-style-type: none;
    margin: 0 30px 0 30px;
    transition: color 0.3s, transform 0.3s;
  }
  .nav-desktop .nav-desktop-active a:hover {
    color: #fbf270;
    transform: scale(110%);
  }
}
.burger-icon {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  padding: 15px;
  position: fixed;
  top: 20px; /* Odległość od góry ekranu */
  right: 20px; /* Odległość od prawej krawędzi */
  z-index: 1000; /* Upewnij się, że jest na wierzchu */
}
.burger-icon .burger-icon-img {
  transition: 0.3s;
}
.burger-icon .burger-icon-img:hover {
  transform: scale(110%);
}

.burger-active {
  display: none;
}

.close-icon {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  padding: 15px;
  position: fixed;
  top: 20px; /* Odległość od góry ekranu */
  right: 20px; /* Odległość od prawej krawędzi */
  z-index: 1000; /* Upewnij się, że jest na wierzchu */
}
.close-icon .close-icon-img {
  transition: 0.3s;
}
.close-icon .close-icon-img:hover {
  transform: scale(110%);
}

header {
  height: 100vh;
  width: 100%;
  padding: 64px 16px 64px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(255, 251, 183);
  background: linear-gradient(180deg, rgb(255, 251, 183) 0%, rgb(252, 251, 236) 50%, rgb(255, 254, 245) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fffbb7",endColorstr="#fffef5",GradientType=1);
}
header .header-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
header .header-info .header-logo {
  height: 100%;
  width: 100%;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}
header .header-info h1 {
  font-size: 42px;
  color: #191702;
  font-weight: bold;
  letter-spacing: 2%;
  text-align: center;
}

@media screen and (min-width: 769px) {
  header {
    padding: 64px;
  }
  header .burger-icon {
    display: none;
  }
  header .nav-desktop {
    display: block;
  }
  header .header-info .header-logo {
    height: 372px;
    width: 700px;
  }
  header .header-info h1 {
    font-size: 52px;
    color: #191702;
  }
}
.photo-section {
  width: 100%;
  height: 50vh;
  display: block;
  background-image: url(../sources/img/photo-section/section-photo-image-2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 769px) {
  .photo-section {
    width: 100%;
    height: 60vh;
    display: block;
    background-image: url(../sources/img/photo-section/section-photo-image-2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
}
.about-us {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 64px 16px 64px 16px;
  gap: 64px;
  color: #150d52;
}
.about-us .about-us-company {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
.about-us .about-us-company .about-us-company-text {
  padding: 0 16px 0 16px;
}
.about-us .about-us-company .about-us-company-text h2 {
  font-size: 30px;
}
.about-us .about-us-company .about-us-company-text h4 {
  font-size: 20px;
}
.about-us .about-us-company .about-us-company-text p {
  font-size: 20px;
}
.about-us .quality-policy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}
.about-us .quality-policy .quality-policy-text {
  padding: 0 16px 0 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.about-us .quality-policy .quality-policy-text li {
  list-style-position: inside;
  font-size: 20px;
}
.about-us .quality-policy .quality-policy-photo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-us .quality-policy .quality-policy-photo img {
  width: 50%;
  height: auto;
}
.about-us .about-us-photo img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 769px) {
  .about-us {
    padding: 64px;
    gap: 64px;
    align-items: center;
    align-items: flex-start;
  }
  .about-us .about-us-company {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    padding: 50px;
  }
  .about-us .about-us-company .about-us-company-text h2 {
    font-size: 30px;
    letter-spacing: 1px;
  }
  .about-us .about-us-company .about-us-company-text h4 {
    font-size: 25px;
    letter-spacing: 1px;
  }
  .about-us .about-us-company .about-us-company-text p {
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 1px;
    padding: 25px 0 25px 0;
  }
  .about-us .about-us-photo {
    width: 100%;
  }
  .about-us .about-us-photo img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
  }
  .about-us .quality-policy {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    padding: 50px;
  }
  .about-us .quality-policy .quality-policy-text {
    gap: 0px;
  }
  .about-us .quality-policy .quality-policy-text h3 {
    padding: 25px 0 0 0;
    letter-spacing: 1px;
  }
  .about-us .quality-policy .quality-policy-text li {
    list-style-position: inside;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 1px;
  }
  .about-us .quality-policy .quality-policy-photo {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .about-us .quality-policy .quality-policy-photo img {
    width: 50%;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
  }
}
@media screen and (min-width: 1023px) {
  .about-us {
    padding: 64px;
    gap: 64px;
    align-items: center;
    align-items: flex-start;
  }
  .about-us .about-us-company {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    padding: 50px;
    border-radius: 25px;
  }
  .about-us .about-us-company .about-us-company-text {
    width: 50%;
  }
  .about-us .about-us-photo {
    width: 50%;
  }
  .about-us .about-us-photo img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
  }
  .about-us .quality-policy {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    gap: 50px;
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    padding: 50px;
  }
  .about-us .quality-policy .quality-policy-text {
    width: 50%;
  }
  .about-us .quality-policy .quality-policy-photo {
    width: 50%;
    display: flex;
    justify-content: center;
  }
  .about-us .quality-policy .quality-policy-photo img {
    width: 50%;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
  }
}
.offers {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0px 64px 0px;
}
.offers h2 {
  font-size: 30px;
  padding: 25px;
}
.offers .offers-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  color: #150d52;
}
.offers .offers-list .offer {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.offers .offers-list .offer p {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.offers .offers-list .offer:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}
.offers .offers-list .offer:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

@media screen and (min-width: 769px) {
  .offers {
    padding: 64px;
  }
  .offers .offers-list {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
.offer-description {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 64px 16px 64px 16px;
  gap: 48px;
  color: #150d52;
}
.offer-description .offer-description-offer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.offer-description .offer-description-offer img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 769px) {
  .offer-description {
    padding: 64px;
    align-items: center;
    align-items: flex-start;
  }
  .offer-description .offer-description-offer img {
    width: 50%;
    height: 50%;
  }
}
.contact {
  padding: 64px 0px 0px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  color: #150d52;
}
.contact .contact-text {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 0 16px 0 16px;
}
.contact .contact-text h3 {
  font-size: 25px;
  text-align: center;
}
.contact .contact-text p {
  font-size: 20px;
}
.contact .contact-text a {
  font-size: 20px;
  color: #150d52;
}
.contact .contact-text .contact-informations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.contact .contact-text .contact-informations .contact-address {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact .contact-text .contact-informations .contact-numbers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact .contact-text .contact-informations .contact-information {
  text-align: center;
}
.contact .contact-map-container {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.contact .contact-map-container .contact-map {
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 769px) {
  .contact-map {
    border-radius: 25px 25px 0 0;
  }
}
.h2-slider {
  font-size: 30px;
  text-align: center;
  padding: 25px;
}

.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50vh;
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.slide {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease; /* Dodajemy płynne przejście */
}

.slide.active {
  opacity: 1;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  z-index: 1000;
  transition: transform 0.3s ease, background-color 0.3s ease; /* Dodajemy płynną animację */
}

.prev:hover,
.next:hover {
  transform: scale(1.1); /* Powiększamy strzałkę po najechaniu kursorem */
}

.prev:active,
.next:active {
  transform: scale(0.9); /* Zmniejszamy strzałkę po kliknięciu */
  background-color: rgba(0, 0, 0, 0.8); /* Ciemniejszy kolor po kliknięciu */
}

.prev {
  border-radius: 5px;
  left: 10px;
}

.next {
  border-radius: 5px;
  right: 10px;
}

.dots {
  text-align: center;
  margin-top: 10px;
}

.dot {
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (min-width: 769px) {
  .slides {
    width: 75%;
    height: 75vh;
  }
  .slide {
    border-radius: 10px;
  }
  .prev,
  .next {
    padding: 10px;
  }
  .prev:hover,
  .next:hover {
    transform: scale(1.1); /* Powiększamy strzałkę po najechaniu kursorem */
  }
  .prev:active,
  .next:active {
    transform: scale(0.9); /* Zmniejszamy strzałkę po kliknięciu */
    background-color: rgba(0, 0, 0, 0.8); /* Ciemniejszy kolor po kliknięciu */
  }
}
.footer {
  background-color: #191702;
  width: 100%;
  padding: 64px 16px 64px 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
}
.footer a {
  text-decoration: none;
  color: #fffef5;
  font-size: 30px;
}
.footer p {
  color: #fffef5;
  font-size: 30px;
}
.footer .bookmarks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.footer .informations {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}
.footer .informations .informations-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.footer .informations p {
  font-size: 16px;
}

@media screen and (min-width: 769px) {
  .footer {
    flex-direction: row;
    justify-content: space-around;
  }
  .footer a {
    font-size: 24px;
    transition: color 0.3s, transform 0.3s;
  }
  .footer a:hover {
    color: #fbf270;
    transform: scale(110%);
  }
  .footer p {
    font-size: 24px;
  }
  .footer .informations p {
    font-size: 16px;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #fffef5;
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 769px) {
  body {
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
}/*# sourceMappingURL=main.css.map */