@import './base/reset';
@import './utils/variables';

@import './pages/navigation';
@import './pages/header';
@import './pages/section-photo';
@import './pages/about-us';
@import './pages/offers';
@import './pages/offers-description';
@import './pages/contact';
@import './pages/slider';
@import './pages/footer';

html {
	scroll-behavior: smooth;
}

body {
	background-color: #fffefa;
	//font-family: $MobileFont;
	font-family: 'Merienda', cursive;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	display: flex;
	flex-direction: column;
	align-items: center;

	main{
		display: flex;
		flex-direction: column;
		gap: 64px;
	}

	h2{
		font-size: $Mobile-H2;
	}

	p, li, a {
		font-size: $Mobile-Body;
		line-height: 150%;
		letter-spacing: 1px;
	}
}

@media screen and (min-width: 769px) {
	body {
		//font-family: $MainFont;
		font-family: 'Merienda', cursive;
		font-optical-sizing: auto;
		font-weight: 400;
		font-style: normal;
		
		main{
			display: flex;
			flex-direction: column;
			gap: 128px;
		}

		h1 {
			font-size: $Desktop-H1;
			font-weight: bold;
			letter-spacing: 2%;
		}

		h2 {
			font-size: $Desktop-H2;
			color: $Font-Color-1;
		}

		h4 {
			font-size: $Desktop-H4;
		}

		p {
			font-size: $Desktop-Body;
			line-height: 150%;
			letter-spacing: 1px;
		}

		li {
			font-size: $Desktop-Body;
			line-height: 150%;
			letter-spacing: 1px;
		}

		a {
			font-size: $Desktop-Body;
			color: $Font-Color-1;
		}
	}
}
