@import './base/reset';
@import './utils/variables';

@import './pages/navigation';
@import './pages/header';
@import './pages/section-photo';
@import './pages/about-us';
@import './pages/offers';
@import './pages/offers-description';
@import './pages/contact';
@import './pages/slider';
@import './pages/footer';

html {
	scroll-behavior: smooth;
}

body {
	background-color: $Yellow-050;
	font-family: $MobileFont;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media screen and (min-width: 769px) {
	body {
		//font-family: $MainFont;
		font-family: "Merienda", cursive;
		font-optical-sizing: auto;
		font-weight: 400;
		font-style: normal;
	}
}
