// colors

$Yellow-000: #FFFFFF;
$Yellow-050: #FEFDE7;
$Yellow-100: #FEFBCF;
$Yellow-150: #FDF8B7;
$Yellow-200: #FDF69F;
$Yellow-300: #FBF270;
$Yellow-400: #FAED40;
$Yellow-500: #F9E910;
$Yellow-600: #C7BA0D;
$Yellow-700: #958C0A;
$Yellow-800: #645D06;
$Yellow-850: #4B4605;
$Yellow-900: #322F03;
$Yellow-950: #191702;
$Yellow-1000: #000000;

// typography

$MainFont: "Poppins", sans-serif;

$Desktop-Display1: 172px;
$Desktop-H1: 52px;
$Desktop-H2: 45px;
$Desktop-H3: 39px;
$Desktop-H4: 25px;
$Desktop-H5: 22px;
$Desktop-H6: 16px;
$Desktop-Body: 25px;
$Dekstop-Body-Small: 14px;
$Desktop-Caption: 12px;
$Desktop-Navigation: 24px;
$Dekstop-Footer: 24px;


$Mobile-H1: 42px;
$Mobile-Navigation: 48px;

$Mobile-Footer: 30px