// colors

$Yellow-000: #ffffff;
$Yellow-050: #fcfbec;
$Yellow-100: #fffef5;
$Yellow-150: #fdf8b7;
$Yellow-200: #fdf69f;
$Yellow-300: #fbf270;
$Yellow-400: #faed40;
$Yellow-500: #f9e910;
$Yellow-600: #c7ba0d;
$Yellow-700: #958c0a;
$Yellow-800: #645d06;
$Yellow-850: #4b4605;
$Yellow-900: #322f03;
$Yellow-950: #191702;
$Yellow-1000: #000000;

$Font-Color-1: rgb(0, 0, 0);

// typography

$MainFont: 'Comic Sans MS', 'Comic Sans';
$MobileFont: "Poppins", sans-serif;

$Desktop-Display1: 172px;
$Desktop-H1: 52px;
$Desktop-H2: 30px;
$Desktop-H3: 25px;
$Desktop-H4: 20px;
$Desktop-H5: 22px;
$Desktop-H6: 16px;
$Desktop-Body: 20px;
$Dekstop-Body-Small: 14px;
$Desktop-Caption: 12px;
$Desktop-Navigation: 24px;
$Dekstop-Footer: 24px;

$Mobile-H1: 42px;
$Mobile-Navigation: 48px;

$Mobile-Footer: 30px;
