.about-us {
	padding: 64px 16px 64px 16px;
	color: $Yellow-950;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 24px;
	align-items: flex-start;

	h2 {
		font-size: $Desktop-H2;
	}

	h4 {
		font-size: $Desktop-H4;
	}

	p {
		font-size: $Desktop-Body;
	}

	.polityka-jakosci {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 12px;

		li {
			list-style-position: inside;
			font-size: $Desktop-Body;
		}
	}
}

@media screen and (min-width: 769px) {
	.about-us {
		padding: 64px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		gap: 24px;
		align-items: flex-start;

		h2 {
			font-size: $Desktop-H2;
		}

		h4 {
			font-size: $Desktop-H4;
		}

		p {
			font-size: $Desktop-Body;
		}

		.polityka-jakosci {
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 12px;

			li {
				list-style-position: inside;
				font-size: $Desktop-Body;
			}
		}
	}
}
