.offers {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 25px;
}

.offers-list {
	display: flex;
	flex-direction: column;
	padding: 16px 0 16px 0;
	gap: 25px;
	color: $Font-Color-1;
}

.offer {
	align-self: center;
	background-color: #fff;
	background-image: none;
	background-position: 0 90%;
	background-repeat: repeat no-repeat;
	background-size: 4px 3px;
	border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
	border-style: solid;
	border-width: 2px;
	box-sizing: border-box;
	color: #41403e;
	cursor: pointer;
	display: inline-block;
	font-family: Neucha, sans-serif;
	font-size: 1rem;
	line-height: 23px;
	outline: none;
	padding: 0.75rem;
	text-decoration: none;
	transition: all 235ms ease-in-out;
	border-bottom-left-radius: 15px 255px;
	border-bottom-right-radius: 225px 15px;
	border-top-left-radius: 255px 15px;
	border-top-right-radius: 15px 225px;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	color: $Font-Color-1;
}

.offer p {
	font-family: 'Merienda', cursive;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 15px;
}

.offer:hover {
	box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
	transform: translate3d(0, 2px, 0);
}

.offer:focus {
	box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

.offers-offers-list {
	padding-bottom: 48px;
}

@media screen and (min-width: 769px) {
	.offers h2 {
		padding: 0px;
	}
	.offers {
		align-items: normal;
		padding: 0 64px 0 64px;
		gap: 25px;
	}
	.offers-list {
		justify-content: center;
		margin: 50px 0 0 0;
		flex-wrap: wrap;
		flex-direction: row;
		gap: 40px;
	}

	.offer {
		box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
	}
}

/* Dodajemy styl dla widoku mobilnego */
@media screen and (max-width: 768px) {
	.offers-list-wrapper {
		overflow-x: auto;
		-webkit-overflow-scrolling: touch; /* Płynne przewijanie na urządzeniach mobilnych */
		width: 100vw; /* Zapewnia, że wrapper zajmuje całą szerokość widoku */
		box-sizing: border-box;
		padding: 0 16px; /* Dodaje padding do wrappera */
	}

	.offers-list {
		display: flex;
		flex-direction: row;
		white-space: nowrap; /* Zapobiega zawijaniu elementów do nowego wiersza */
	}

	.offer {
		flex: 0 0 auto; /* Umożliwia przewijanie elementów w poziomie */
	}

	.offers-description {
		padding: 0 16px 0 16px;
	}
}
