.offer-description {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 64px 16px 64px 16px;
	gap: 48px;
	color: $Font-Color-1;

	.offer-description-offer {
		display: flex;
		flex-direction: column;
		gap: 12px;

		img {
			width: 100%;
			height: 100%;
		}
	}
}

@media screen and (min-width: 769px) {
	.offer-description {
		padding: 64px;
		align-items: center;
		align-items: flex-start;

		.offer-description-offer {
			img {
				max-width: 300px; /* Maksymalna szerokość obrazu */
				height: auto; /* Automatyczna wysokość, aby zachować proporcje */
				border-radius: 15px;
			}
		}
	}
}
