.photo-section {
	display: none;
}

@media screen and (min-width: 769px) {
	.photo-section {
		width: 100vw;
		height: 50vh;
		display: block;
		background-image: url(../../sources/img/Zdjęcie\ -\ 1.jpeg);
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
	}
}
