<div class="company">
    <a href="../../index.html#home">Seger</a>
</div>
<div class="bookmarks">
    <a href="../../index.html#about-us">O firmie</a>
    <a href="#offers">Oferta</a>
    <a href="../../index.html#gallery">Galeria</a>
    <a href="../../index.html#contact">Kontakt</a>
</div>
<div class="informations">
    <div class="informations-description">
        <a href="mailto:seger@seger.biz.pl">seger@seger.biz.pl</a>
    </div>
    <p>Wszelkie prawa zastrzeżone &copy; 2024 Seger</p>
</div>