<h2>Náš sortiment</h2>
<p>Náš sortiment zahrnuje široký výběr vysoce kvalitních těsnění, těsnicích pásek a dalších výrobků
    nezbytných pro účinnou ochranu různých konstrukcí.</p>
<p>Zveme vás, abyste se seznámili s naší nabídkou a prozkoumali jednotlivé kategorie výrobků a našli
    řešení dokonale vyhovující vašim potřebám. Věříme, že vám naše výrobky pomohou účinně
    zabezpečit a tepelně izolovat nejrůznější konstrukce.
</p>
<div class="offers-list">
    <button class="offer" onclick="window.location.href='nas-sortiment/statické-těsnění.html'">
        <p>Statické těsnění</p>
    </button>
    <button class="offer" onclick="window.location.href='nas-sortiment/těsnění-pro-rotační-pohyby.html'">
        <p>Těsnění pro rotační pohyby</p>
    </button>
    <button class="offer" onclick="window.location.href='nas-sortiment/těsnění-pro-vratné-pohyby.html'">
        <p>Těsnění pro vratné pohyby</p>
    </button>
    <button class="offer" onclick="window.location.href='nas-sortiment/měděná-těsnění.html'">
        <p>Měděná těsnění (CU)</p>
    </button>
    <button class="offer" onclick="window.location.href='nas-sortiment/těsnění-na-okrajích.html'">
        <p>Těsnění na okrajích</p>
    </button>
    <button class="offer"
        onclick="window.location.href='nas-sortiment/mechanické-čelní-cěsnění-federal-mogul-goetze.html'">
        <p>Mechanické čelní těsnění federal mogul goetze</p>
    </button>
    <button class="offer" onclick="window.location.href='nas-sortiment/hnací-řemeny.html'">
        <p>Hnací řemeny</p>
    </button>
    <button class="offer" onclick="window.location.href='nas-sortiment/pojistné-pružinové-kroužky.html'">
        <p>Pojistné pružinové kroužky</p>
    </button>
    <button class="offer" onclick="window.location.href='nas-sortiment/technická-lepidla.html'">
        <p>Technická lepidla</p>
    </button>
    <button class="offer" onclick="window.location.href='nas-sortiment/ložiska.html'">
        <p>Ložiska</p>
    </button>
    <button class="offer" onclick="window.location.href='nas-sortiment/pletené-ucpávky'">
        <p>Pletené ucpávky</p>
    </button>
    <button class="offer" onclick="window.location.href='nas-sortiment/těsnicí-plechy.html'">
        <p>Těsnicí plechy</p>
    </button>
    <button class="offer" onclick="window.location.href='nas-sortiment/spirálové-těsnění-spiratem.html'">
        <p>Spirálové těsnění spiratem</p>
    </button>
    <button class="offer" onclick="window.location.href='nas-sortiment/těsnění-s-více-okraji.html'">
        <p>Těsnění s více okraji</p>
    </button>
    <button class="offer" onclick="window.location.href='nas-sortiment/tepelná-izolace.html'">
        <p>Tepelná izolace</p>
    </button>
    <button class="offer" onclick="window.location.href='nas-sortiment/třecí-obložení.html'">
        <p>Třecí obložení</p>
    </button>
    <button class="offer" onclick="window.location.href='nas-sortiment/tkaninové-dilatační-spáry.html'">
        <p>Tkaninové dilatační spáry</p>
    </button>
    <button class="offer" onclick="window.location.href='nas-sortiment/pryžové-desky-a-výrobky.html'">
        <p>Pryžové desky a výrobky</p>
    </button>
    <button class="offer" onclick="window.location.href='nas-sortiment/průmyslové-hadice-a-příslušenství.html'">
        <p>Průmyslové hadice a příslušenství</p>
    </button>
    <button class="offer" onclick="window.location.href='nas-sortiment/izolátory-vibrací.html'">
        <p>Izolátory vibrací</p>
    </button>
    <button class="offer" onclick="window.location.href='nas-sortiment/pružiny.html'">
        <p>Pružiny</p>
    </button>
    <button class="offer" onclick="window.location.href='nas-sortiment/retězy-galla.html'">
        <p>Řetězy Galla</p>
    </button>
    <button class="offer" onclick="window.location.href='nas-sortiment/lana-a-popruhy.html'">
        <p>Lana a popruhy</p>
    </button>
    <button class="offer" onclick="window.location.href='nas-sortiment/oleje-a-maziva.html'">
        <p>Oleje a maziva</p>
    </button>
    <button class="offer" onclick="window.location.href='nas-sortiment/spojovací-materiál.html'">
        <p>Spojovací materiál</p>
    </button>
</div>