<div class="offers-list offers-offers-list">
    <button class="offer" onclick="window.location.href='../../sites/offers/uszczelnienia-statyczne.html'">
        <p>Uszczelnienia statyczne</p>
    </button>
    <button class="offer" onclick="window.location.href='../../sites/offers/uszczelnienia-do-ruchów-obrotowych.html'">
        <p>Uszczelnienia do ruchów obrotowych</p>
    </button>
    <button class="offer"
        onclick="window.location.href='../../sites/offers/uszczelnienia-do-ruchów-posuwisto–zwrotnych.html'">
        <p>Uszczelnienia do ruchów posuwisto – zwrotnych</p>
    </button>
    <button class="offer" onclick="window.location.href='../../sites/offers/uszczelki-miedziane.html'">
        <p>Uszczelki miedziane (CU)</p>
    </button>
    <button class="offer" onclick="window.location.href='../../sites/offers/uszczelki-krawedziowe.html'">
        <p>Uszczelki krawędziowe</p>
    </button>
    <button class="offer"
        onclick="window.location.href='../../sites/offers/mechaniczne-uszczelnienia-ślizgowe-federal-mogul-goetze.html'">
        <p>Mechaniczne uszczelnienia Federal Mogul Goetze</p>
    </button>
    <button class="offer" onclick="window.location.href='../../sites/offers/pasy-napedowe.html'">
        <p>Pasy napędowe</p>
    </button>
    <button class="offer" onclick="window.location.href='../../sites/offers/osadcze-pierscienie-sprezujace.html'">
        <p>Osadcze pierścienie sprężynujące</p>
    </button>
    <button class="offer" onclick="window.location.href='../../sites/offers/kleje-techniczne.html'">
        <p>Kleje techniczne</p>
    </button>
    <button class="offer" onclick="window.location.href='../../sites/offers/lozyska.html'">
        <p>Łożyska</p>
    </button>
    <button class="offer" onclick="window.location.href='../../sites/offers/szczeliwa-plecione.html'">
        <p>Szczeliwa plecione</p>
    </button>
    <button class="offer" onclick="window.location.href='../../sites/offers/plyty-uszczelkarskie.html'">
        <p>Płyty uszczelkarskie</p>
    </button>
    <button class="offer" onclick="window.location.href='../../sites/offers/uszczelki-spiralne-typu-spiratem.html'">
        <p>Uszczelki spiralne typu spiratem</p>
    </button>
    <button class="offer" onclick="window.location.href='../../sites/offers/uszczelnienia-wielokrawedziowe.html'">
        <p>Uszczelnienia wielokrawędziowe</p>
    </button>
    <button class="offer" onclick="window.location.href='../../sites/offers/termoizolacje.html'">
        <p>Termoizolacje</p>
    </button>
    <button class="offer" onclick="window.location.href='../../sites/offers/okladziny-cierne.html'">
        <p>Okładziny cierne</p>
    </button>
    <button class="offer" onclick="window.location.href='../../sites/offers/kompensatory-tkaninowe.html'">
        <p>Kompensatory tkaninowe</p>
    </button>
    <button class="offer" onclick="window.location.href='../../sites/offers/plyty-i-wyroby-gumowe.html'">
        <p>Płyty i inne wyroby gumowe</p>
    </button>
    <button class="offer" onclick="window.location.href='../../sites/offers/weze-przemyslowe-i-akcesoria.html'">
        <p>Węże przemysłowe i akcesoria</p>
    </button>
    <button class="offer" onclick="window.location.href='../../sites/offers/wibroizolatory.html'">
        <p>Wibroizolatory</p>
    </button>
    <button class="offer" onclick="window.location.href='../../sites/offers/sprezyny.html'">
        <p>Sprężyny</p>
    </button>
    <button class="offer" onclick="window.location.href='../../sites/offers/lancuchy-galla.html'">
        <p>Łańcuchy Galla</p>
    </button>
    <button class="offer" onclick="window.location.href='../../sites/offers/liny-i-zawiesia.html'">
        <p>Liny i zawiesia</p>
    </button>
    <button class="offer" onclick="window.location.href='../../sites/offers/oleje-i-smary.html'">
        <p>Oleje i smary</p>
    </button>
    <button class="offer" onclick="window.location.href='../../sites/offers/elementy-zlaczne.html'">
        <p>Elementy złączne</p>
    </button>
</div>