<h2>Nasza oferta</h2>
<p class="offers-description">Nasza oferta obejmuje szeroki wybór wysokiej jakości uszczelek, taśm uszczelniających oraz
    innych
    produktów niezbędnych do skutecznego zabezpieczenia różnorodnych konstrukcji.</p>
<p class="offers-description">Zapraszamy do zapoznania się z naszą ofertą i do eksploracji poszczególnych kategorii
    produktowych, aby
    znaleźć rozwiązania idealnie dopasowane do Twoich potrzeb. Wierzymy, że nasze produkty pomogą Ci w
    skutecznym zabezpieczeniu i termoizolacji różnorodnych konstrukcji.
</p>
<div class="offers-list-wrapper">
    <div class="offers-list">
        <button class="offer" onclick="window.location.href='oferty/uszczelnienia-statyczne.html'">
            <p>Uszczelnienia statyczne</p>
        </button>
        <button class="offer" onclick="window.location.href='oferty/uszczelnienia-do-ruchów-obrotowych.html'">
            <p>Uszczelnienia do ruchów obrotowych</p>
        </button>
        <button class="offer" onclick="window.location.href='oferty/uszczelnienia-do-ruchów-posuwisto–zwrotnych.html'">
            <p>Uszczelnienia do ruchów posuwisto – zwrotnych</p>
        </button>
        <button class="offer" onclick="window.location.href='oferty/uszczelki-miedziane.html'">
            <p>Uszczelki miedziane (CU)</p>
        </button>
        <button class="offer" onclick="window.location.href='oferty/uszczelki-krawedziowe.html'">
            <p>Uszczelki krawędziowe</p>
        </button>
        <button class="offer"
            onclick="window.location.href='oferty/mechaniczne-uszczelnienia-ślizgowe-federal-mogul-goetze.html'">
            <p>Mechaniczne uszczelnienia Federal Mogul Goetze</p>
        </button>
        <button class="offer" onclick="window.location.href='oferty/pasy-napedowe.html'">
            <p>Pasy napędowe</p>
        </button>
        <button class="offer" onclick="window.location.href='oferty/osadcze-pierscienie-sprezujace.html'">
            <p>Osadcze pierścienie sprężynujące</p>
        </button>
        <button class="offer" onclick="window.location.href='oferty/kleje-techniczne.html'">
            <p>Kleje techniczne</p>
        </button>
        <button class="offer" onclick="window.location.href='oferty/lozyska.html'">
            <p>Łożyska</p>
        </button>
        <button class="offer" onclick="window.location.href='oferty/szczeliwa-plecione.html'">
            <p>Szczeliwa plecione</p>
        </button>
        <button class="offer" onclick="window.location.href='oferty/plyty-uszczelkarskie.html'">
            <p>Płyty uszczelkarskie</p>
        </button>
        <button class="offer" onclick="window.location.href='oferty/uszczelki-spiralne-typu-spiratem.html'">
            <p>Uszczelki spiralne typu spiratem</p>
        </button>
        <button class="offer" onclick="window.location.href='oferty/uszczelnienia-wielokrawedziowe.html'">
            <p>Uszczelnienia wielokrawędziowe</p>
        </button>
        <button class="offer" onclick="window.location.href='oferty/termoizolacje.html'">
            <p>Termoizolacje</p>
        </button>
        <button class="offer" onclick="window.location.href='oferty/okladziny-cierne.html'">
            <p>Okładziny cierne</p>
        </button>
        <button class="offer" onclick="window.location.href='oferty/kompensatory-tkaninowe.html'">
            <p>Kompensatory tkaninowe</p>
        </button>
        <button class="offer" onclick="window.location.href='oferty/plyty-i-wyroby-gumowe.html'">
            <p>Płyty i inne wyroby gumowe</p>
        </button>
        <button class="offer" onclick="window.location.href='oferty/weze-przemyslowe-i-akcesoria.html'">
            <p>Węże przemysłowe i akcesoria</p>
        </button>
        <button class="offer" onclick="window.location.href='oferty/wibroizolatory.html'">
            <p>Wibroizolatory</p>
        </button>
        <button class="offer" onclick="window.location.href='oferty/sprezyny.html'">
            <p>Sprężyny</p>
        </button>
        <button class="offer" onclick="window.location.href='oferty/lancuchy-galla.html'">
            <p>Łańcuchy Galla</p>
        </button>
        <button class="offer" onclick="window.location.href='oferty/liny-i-zawiesia.html'">
            <p>Liny i zawiesia</p>
        </button>
        <button class="offer" onclick="window.location.href='oferty/oleje-i-smary.html'">
            <p>Oleje i smary</p>
        </button>
        <button class="offer" onclick="window.location.href='oferty/elementy-zlaczne.html'">
            <p>Elementy złączne</p>
        </button>
    </div>
</div>