<h2>Nasza oferta</h2>
<p>Nasza oferta obejmuje szeroki wybór wysokiej jakości uszczelek, taśm uszczelniających oraz innych
    produktów niezbędnych do skutecznego zabezpieczenia różnorodnych konstrukcji.</p>
<p>Zapraszamy do zapoznania się z naszą ofertą i do eksploracji poszczególnych kategorii produktowych, aby
    znaleźć rozwiązania idealnie dopasowane do Twoich potrzeb. Wierzymy, że nasze produkty pomogą Ci w
    skutecznym zabezpieczeniu i termoizolacji różnorodnych konstrukcji.
</p>
<div class="offers-list">
    <button class="offer" onclick="window.location.href='sites/offers/uszczelnienia-statyczne.html'">
        <p>Uszczelnienia statyczne</p>
    </button>
    <button class="offer" onclick="window.location.href='sites/offers/uszczelnienia-do-ruchów-obrotowych.html'">
        <p>Uszczelnienia do ruchów obrotowych</p>
    </button>
    <button class="offer"
        onclick="window.location.href='sites/offers/uszczelnienia-do-ruchów-posuwisto–zwrotnych.html'">
        <p>Uszczelnienia do ruchów posuwisto – zwrotnych</p>
    </button>
    <button class="offer" onclick="window.location.href='sites/offers/uszczelki-miedziane.html'">
        <p>Uszczelki miedziane (CU)</p>
    </button>
    <button class="offer" onclick="window.location.href='sites/offers/uszczelki-krawedziowe.html'">
        <p>Uszczelki krawędziowe</p>
    </button>
    <button class="offer">
        <p>Mechaniczne uszczelnienia Federal Mogul Goetze</p>
    </button>
    <button class="offer">
        <p>Pasy napędowe</p>
    </button>
    <button class="offer">
        <p>Osadcze pierścienie sprężynujące</p>
    </button>
    <button class="offer">
        <p>Kleje techniczne</p>
    </button>
    <button class="offer">
        <p>Łożyska</p>
    </button>
    <button class="offer">
        <p>Szczeliwa plecione</p>
    </button>
    <button class="offer">
        <p>Płyty uszczelkarskie</p>
    </button>
    <button class="offer">
        <p>Uszczelki spiralne typu spiratem</p>
    </button>
    <button class="offer">
        <p>Uszczelnienia wielokrawędziowe</p>
    </button>
    <button class="offer">
        <p>Termoizolacje</p>
    </button>
    <button class="offer">
        <p>Okładziny cierne</p>
    </button>
    <button class="offer">
        <p>Kompensatory tkaninowe</p>
    </button>
    <button class="offer">
        <p>Płyty i inne wyroby gumowe</p>
    </button>
    <button class="offer">
        <p>Węże przemysłowe i akcesoria</p>
    </button>
    <button class="offer">
        <p>Wibroizolatory</p>
    </button>
    <button class="offer">
        <p>Sprężyny</p>
    </button>
    <button class="offer">
        <p>Łańcuchy Galla</p>
    </button>
    <button class="offer">
        <p>Liny i zawiesia</p>
    </button>
    <button class="offer">
        <p>Oleje i smary</p>
    </button>
    <button class="offer">
        <p>Elementy złączne</p>
    </button>
</div>